.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 720px;
    width: 100%;
}

.logobox{
    width: 400px;
    height: 400px;
    /* border: solid 2px black; */
    border-radius: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    
}

.topcircle{
    width: 320px;
    height: 320px;
    /* border: solid 2px black; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 19, 19);

}


.middle1{
    width: 180px;
    height: 180px;
    /* border: solid 2px black; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.middle2{
    width: 160px;
    height: 160px;
    /* border: solid 2px black; */
    border-radius: 50%;
    background-color: rgb(233, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconbox{
    margin-left: 27px;
    border-style: solid;
    width: 72px;
    height: 40px;
    border-width: 45px 0 45px 82px;
    box-sizing: border-box;
    border-color:rgb(233, 19, 19) rgb(233, 19, 19) rgb(233, 19, 19) whitesmoke;
}
